<p>
  <strong>Character:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Bio:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Delete Character', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
