<h1>Houses of Westeros</h1>

<table>
  <tr>


  </tr>
<div class="block">
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article) %></td>


      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </div>
  <% end %>
  <%= link_to 'Add House', new_article_path %>
</table>
