// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 270%;
  background-color: #080704;
  background-image: url("https://images5.alphacoders.com/403/403408.jpg");
  background-size: 1900px 1100px;
  color: #F0FFFF;
  background-repeat: no-repeat;
  padding-bottom: 100px
}
